.App {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background:  linear-gradient(0deg, rgba(0, 0, 0, 40%), rgba(0, 0, 0, 40%)), url("../public/images/bg.jfif");
  background-size: cover;
}
.data-container,
.data-container * {
  animation: animatebottom 1s;
}
@keyframes animatebottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}