.weather {
    margin-top: 40px;
    font-family: "Poppins";
    color: #fefefe;
}
.weather h2 {
    font-size: 30px;
}
.weather .currentWeather {
    display: flex;
    justify-content: center;
}
.currentWeather .icon {
    margin-top: 50px;
    height: 170px;
    padding: 0px;
}
.currentWeather .temperature {
    font-weight: 100;
    font-size: 120px;
    margin-top: 50px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.currentWeather .convertingButtons {
    margin-top: 87px;
    margin-bottom: 0px;
}
.currentWeather .convertingButtons .toCelsius,
.currentWeather .convertingButtons .toFahrenheit {
    cursor: pointer;
    display: block;
    color: white;
    font-family: "Poppins";
    margin: 20px 0 0 20px;
    font-weight: 600;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    background: none;
    outline: none;
    border: 1px solid transparent;
}
.currentWeather .convertingButtons .toCelsius {
    margin-top: 0px;
}
.currentWeather .convertingButtons .toFahrenheit {
    margin-top: 35px;
    padding-bottom: 0px;
}
.currentWeather .convertingButtons .toCelsius.active,
.currentWeather .convertingButtons .toFahrenheit.active {
    cursor: default;
    pointer-events: none;
    color: white;
}
.currentWeather .convertingButtons .toCelsius.active:hover,
.currentWeather .convertingButtons .toFahrenheit.active:hover {
    background: none;
    border: 1px solid transparent;
    outline: none;
}
.currentWeather .convertingButtons .toCelsius:hover,
.currentWeather .convertingButtons .toFahrenheit:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid white;
}
.info {
    display: block;
}
.info .row span {
    margin-right: 30px;
}
.info .row span:last-child {
    margin-right: 0;
}